.banned {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(74, 191, 217, 0.74) 0%,
    rgba(204, 219, 125, 0.98) 75%
  );

  //   linear-gradient(
  // 0deg, rgb(74 191 217 / 74%) 0%, rgb(204 219 125 / 98%) 75%);

  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    animation: 1s spin linear infinite;

    width: 90px;
    height: 90px;
    color: #0afff4;
  }
}
